<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Transportadoras</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Begin Page Content container-fluid -->
        <div class="container-fluid">

            <!-- Form searchs -->
            <div class="card bg-light mb-3">
                <div class="card-block">

                    <nav class="navbar">

                        <div class="container-fluid">
                            <form class="form-inline" method="get" role="search" th:action="@{/transportadora/nome}">
                                <div class="form-group">
                                    <input class="form-control mr-sm-2" name="nome" placeholder="nome" type="text">
                                </div>
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">Localizar</button>
                            </form>

                            <form class="form-inline" method="get" role="search" th:action="@{/transportadora/cnpj}">
                                <div class="form-group">
                                    <input class="form-control mr-sm-2" name="cnpj" placeholder="cnpj" type="text">
                                </div>
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">Localizar</button>
                            </form>
                        </div>

                    </nav>

                </div>
            </div>
            <!-- End of Form searchs -->

            <!-- Row Content -->
            <div class="row">

                <!-- Col-md-12 -->
                <div class="col-md-12">

                    <div class="card">
                        <!--
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <p class="category">Lista de clientes</p>
                        </div>
                        -->
                        <div class="card-block">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>CNPJ</th>
                                    <th>AÇÃO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="t : ${transportadoras}">
                                    <td th:text="${t.id}"></td>
                                    <td th:text="${t.nome}"></td>
                                    <td th:text="${t.cnpj}"></td>
                                    <td>
                                        <a class="btn btn-dark vBtn" th:href="@{/transportadora/findOne/(id=${t.id})}"
                                           title="Visualizar" data-toggle="tooltip">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- Pagination -->
                            <nav aria-label="Pagination" th:if="${transportadoras.totalPages gt 0}">
                                <ul class="pagination justify-content-center font-weight-bold">
                                    <li class="page-item" th:classappend="${transportadoras.number eq 0} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{/transportadora/list?page={id}(id=${transportadoras.number lt 2 ? 1 : transportadoras.number})}"
                                           aria-label="Previous" title="Anterior" data-toggle="tooltip">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <li class="page-item" th:classappend="${i eq transportadoras.number + 1} ? 'active'"
                                        th:each="i : ${#numbers.sequence( 1, transportadoras.totalPages, 1)}">
                                        <a class="page-link" th:href="@{/transportadora/list?page={id}(id=${i})}"
                                           th:text="${i}"
                                           th:title="${'Página '+ i}" data-toggle="tooltip"></a>
                                    </li>

                                    <li class="page-item"
                                        th:classappend="${transportadoras.number + 1 eq transportadoras.totalPages} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="@{/transportadora/list?page={id}(id=${transportadoras.number + 2})}"
                                           aria-label="Next" title="Próxima" data-toggle="tooltip">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- End of Pagination nav -->

                        </div>
                    </div>

                </div>
                <!-- End of Col-md-12 -->

            </div>
            <!-- End of Row Content -->

            <th:block th:include="shippings/viewModal"></th:block>

        </div>
        <!-- End of Begin Page Content container-fluid -->

    </div>

    <th:block th:include="shippings/scripts"></th:block>

</div>
</html>