<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-truck-moving"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Deva Cardans</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${#strings.equals(conteudo, 'dashboard')} ? active : ''">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Cadastros
    </div>

    <!-- Nav Item - Produtos Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/}" data-toggle="collapse" data-target="#collapseProdutos"
           aria-expanded="true" aria-controls="collapseProdutos">
            <i class="fas fa-fw fa-dice-d6"></i>
            <span>Produtos</span>
        </a>
        <div id="collapseProdutos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Controles:</h6>

                <a class="collapse-item" th:href="@{/produto/list}">
                    <i class="fas fa-fw fa-ring"></i>
                    <span>Produtos</span>
                </a>
                <a class="collapse-item" href="cards.html">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Aplicações</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pessoas Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePessoas"
           aria-expanded="true" aria-controls="collapsePessoas">
            <i class="fas fa-fw fa-users"></i>
            <span>Pessoas</span>
        </a>
        <div id="collapsePessoas" class="collapse" aria-labelledby="headingPessoas"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Controles:</h6>

                <a class="collapse-item" th:href="@{/cliente/list}">
                    <i class="fas fa-fw fa-user-friends"></i>
                    <span>Clientes</span>
                </a>
                <a class="collapse-item" th:href="@{/fornecedor/list}">
                    <i class="fas fa-fw fa-industry"></i>
                    <span>Fornecedores</span>
                </a>
                <a class="collapse-item" th:href="@{/transportadora/list}">
                    <i class="fas fa-fw fa-truck-loading"></i>
                    <span>Transportadoras</span>
                </a>
                <a class="collapse-item" th:href="@{/municipio/list}">
                    <i class="fas fa-fw fa-city"></i>
                    <span>Municípios</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Financeiro
    </div>

    <!-- Nav Item - Contas Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContas"
           aria-expanded="true" aria-controls="collapseContas">
            <i class="fas fa-fw fa-balance-scale"></i>
            <span>Contas</span>
        </a>
        <div id="collapseContas" class="collapse" aria-labelledby="headingMetas"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Controles:</h6>
                <!-- Pagar -->
                <a class="collapse-item" th:href="@{/}">
                    <i class="fas fa-fw fa-donate"></i>
                    <span>Pagar</span>
                </a>
                <!-- Receber -->
                <a class="collapse-item" th:href="@{/}">
                    <i class="fas fa-fw fa-hand-holding-usd"></i>
                    <span>Receber</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tipos de Pagamento -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-coins"></i>
            <span>Tipos de Pagamento</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Metas
    </div>

    <!-- Nav Item - Metas Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMetas"
           aria-expanded="true" aria-controls="collapseMetas">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Metas</span>
        </a>
        <div id="collapseMetas" class="collapse" aria-labelledby="headingMetas"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Controles:</h6>
                <a class="collapse-item" th:href="@{/}">
                    <i class="fas fa-fw fa-file-invoice"></i>
                    <span>Cadastro</span>
                </a>
                <a class="collapse-item" th:href="@{/}">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Gráficos</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Estoque
    </div>

    <!-- Nav Item - Calendário de entrada de produtos -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Entrada de Produtos</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Notas fiscais
    </div>

    <!-- Nav Item - Metas Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNotas"
           aria-expanded="true" aria-controls="collapseMetas">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Notas Fiscais</span>
        </a>
        <div id="collapseNotas" class="collapse" aria-labelledby="headingNotas"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tipo:</h6>
                <a class="collapse-item" th:href="@{/}">
                    <i class="fas fa-fw fa-file-import"></i>
                    <span>Entradas</span>
                </a>
                <a class="collapse-item" th:href="@{/}">
                    <i class="fas fa-fw fa-file-export"></i>
                    <span>Saídas</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>