<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- View Modal -->
<script>
    $(document).ready(function(){
        $('.vBtn').on('click', function(event){
            //prevents redirection to blank page with JSON-Task-Object
            event.preventDefault();
            var href = $(this).attr('href');

            $.get(href, function(cliente){
                $('.myForm #id').val(cliente.id);
                $('.myForm #nome').val(cliente.nome);
                $('.myForm #cnpj').val(cliente.cnpj);
                $('.myForm #ie').val(cliente.ie);
                $('.myForm #cep').val(cliente.cep);
                $('.myForm #endereco').val(cliente.endereco);
                $('.myForm #numero').val(cliente.numero);
                $('.myForm #bairro').val(cliente.bairro);
                $('.myForm #municipio').val(cliente.municipio.nome);
                $('.myForm #uf').val(cliente.uf);
                $('.myForm #email').val(cliente.email);
                $('.myForm #fone').val(cliente.fone);
                $('.myForm #celular').val(cliente.celular);
            });

            $('.myForm #viewModal').modal();
        });
    });
</script>